<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head(link)"/>
<body>
<h1 align="center">工作日志</h1>
<h2 align="center">今天是2021.10.23，周六，我全天坐在教室里模仿前辈终于完成了增加智能停车场的两个功能。</h2>
<h2 align="center">看见此页面将展现的项目的真面目：看似很简单，都是有很多细节对我这个还未走入工作岗位的Web前端的小白还是很陌生的。</h2>
<h2 align="center">添加新的导航栏的“关于”、“安全事项”，同时我还再次回忆复习了使用springboot、html、mybaties、java、JavaScript、mysql等相关知识。</h2>
<h2 align="center">对我来说还是有很长的路需要走的。这是我的学习日志的第一篇，希望自己以后能有所进步了就记录下来。</h2>
<h2 align="center">不求快速飞跃，只求每日能有所收获！</h2>
<br>
<h2 align="center">版权声明：本文为海滨学院博主「钻石眼眸-sunzijin」的原创文章，转载请附上原文出处链接及本声明。</h2>
</body>
</html>
